@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --primary: #FA7A34;
    --secondary: #000000;
    --third: #FA9C34;
    --fourth: #FA5734;
}

* {
    font-family: "righteous";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Events form*/

#event-description {
    background: linear-gradient(rgba(0, 0, 0, 0.829), rgb(0, 0, 0, 0.829)), url(Imagens/cosplay.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.disclaimer h2,.disclaimer .event-date {
    color: var(--primary)
}

.disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

.disclaimer .about-event {
    font-size:2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

.disclaimer p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

.disclaimer .event-date {
    font-weight: bold;
}

.subscription-form {
    background-color: var(--primary);
    padding: 2em;
    max-width: 27%;
    border-radius: 20px;
}

.subscription-form p {
    font-size: 1.5em;
    color: var(--secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
    color: var(--secondary);
}

.form-group input, 
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--fourth);
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    border: 2.5px solid black;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
    border-radius: 20px;
}

.btn:hover {
    opacity: 1.0;
}

/* Benefits */

#key-benefits {
    margin-bottom: 4em;
}

#key-benefits h2 {
    background-color: var(--fourth);
    text-align: center;
    padding: 2em;
    font-weight: 500;
}

/*Arrumar Erros*/

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em 4em 0em 4em;
    width: 80%;
    margin: 0 auto
    
}

.benefit p {
    padding-top: 270px;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column; /*Itens alinhados em coluna (de cima para baixo)*/
    align-items: center;
    max-width: 20%;
    color: var(--fourth);
}


.benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
   }

#benefit-1 {
    background-image: url(Imagens/benefit-1.jpeg); 
}

#benefit-2 {
    background-image: url(Imagens/benefit-2.jpg);
}

#benefit-3 {
    background-image: url(Imagens/benefit-3.jpg);
}

.benefits2 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 0em 4em;
    
}

/* Event location*/

#location {
    height: 400px;
    background: linear-gradient(hsla(0, 0%, 0%, 0.822), rgba(0, 0, 0, 0.822)), url(Imagens/background-2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: var(--primary);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3em;
}

#address, #about-location {
    max-width: 30%;
}

/* Problemas ao estilizar o icone*/

#adress {
    display: flex;
}

.location-icon {
    margin-right: 0.5em;
}

#address-details {
    text-align: center;
    font-size: 1.3em;
}

#about-location h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.about-location p {
    line-height: 1.5em;
}

/*Event Details Container*/

#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
    justify-content: center;
    align-items: center;
}

.detail img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#details h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    font-weight: bold;
    color: var(--fourth);
}

.detail h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

.detail-description {
    width: 100%;
    padding-left: 2em;

}

.detail-description ul {
    list-style-position: inside;
}

.detail-description ul li {
    margin-bottom: 0.4em;
}

/*CTA Section*/

.cta {
    height: 400px;
    background: linear-gradient(hsla(0, 0%, 0%, 0.822), rgba(0, 0, 0, 0.822)), url(Imagens/Anime-cosplay.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--fourth);
}

.cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

.cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}

/* Footer*/

#footer {
    text-align: center;
    color: var(--third);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

#footer span {
    font-weight: bold;
}

/* Mobile */

@media (max-width: 500px) {

    .btn {
        opacity: 1;
    }

    /*Event Form*/

    #event-description {
        flex-direction: column;
        height: auto;
    }

    .disclaimer {
        padding: 2em;
    }

    .disclaimer h2 {
        margin-bottom: .5em;
    }

    .subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    /*Benefits Section*/

    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .benetif {
        max-width: 100%;
        margin-bottom: 2em;
    }

    #benefit-1, #benefit-2, #benefit-3 {
        margin-bottom: 100px;
    }

    /*Event Location*/
   
    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }



    #address {
        margin-top: 2em;
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #about-location {
        order: 1;
        max-width: 100%;
        padding: 5px;
    }
    /*Events Details*/

    .detail {
        flex-direction: column;
        margin-bottom: 7em;
        gap: 0;
        
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    .detail-description {
        padding: 0;
    }

    #detail-1 img {
        order: 2;
    }

    #detail-3 img {
        order: 2;
    }

    /*CTA Section*/
    .cta .btn {
        width: 80%;
    }

    .cta {
        text-align: center;
    }
}